In [8]:
# Required lib imported
import requests as rq
import pandas as pd
from bs4 import BeautifulSoup as bs

## Begin to Scrap

In [108]:
# Empty list to Store data
Name=[]
Price=[]
Review=[]
avali=[]

# for loop for get multiple pages data
for i in range(1,51):
    url=f"https://books.toscrape.com/catalogue/page-{i}.html"
    
    res=rq.get(url)

    sp=bs(res.text,"lxml")


    for i in sp.find_all('h3'):
        n=i.text
        Name.append(n)



    for i in sp.find_all('p',class_='price_color'):
        p=i.text[1:]
        Price.append(p)


    for i in sp.find_all('article'):
        Review.append(i.p['class'][1])


    for i in sp.find_all('p',class_='availability'):
        n=i.text.strip()
        avali.append(n)



data={'Product Name':Name,'Product Price':Price,'Product Review':Review,'Product Status':avali}
fdata=pd.DataFrame(data)

# Final Data Stored in csv formate

fdata.to_csv('final data.csv',index=False)
fdata

,Product Name,Product Price,Product Review,Product Status
0,A Light in the ...,£51.77,Three,In stock
1,Tipping the Velvet,£53.74,One,In stock
2,Soumission,£50.10,One,In stock
3,Sharp Objects,£47.82,Four,In stock
4,Sapiens: A Brief History ...,£54.23,Five,In stock
...,...,...,...,...
995,Alice in Wonderland (Alice's ...,£55.53,One,In stock
996,"Ajin: Demi-Human, Volume 1 ...",£57.06,Four,In stock
997,A Spy's Devotion (The ...,£16.97,Five,In stock
998,1st to Die (Women's ...,£53.98,One,In stock
999,"1,000 Places to See ...",£26.08,Five,In stock